@media screen and (max-width: 576px) {
  .runningTime {
    text-align: center !important;
  }
  .copyright {
    text-align: center !important;
  }
}

.footer-container {
  background-color: #d4dbde;
  .system-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: #1f222d;
    font-size: 13px;
    .runningTime {
      text-align: left;
    }
    .copyright {
      text-align: right;
    }
  }
  .beian-container {
    padding-left: 20px;
    .beian {
      text-align: left;
      display: flex;
      align-items: center;
      a {
        font-size: 13px;
        color: #5a6497;
        margin-right: 10px;
        img {
          margin-right: 5px;
        }
      }
    }
  }
}
