@import '../base.less';
@media screen and (min-width: 1200px) {
  #app {
  }
}
@media screen and (min-width: 992px) and(max-width: 1200px) {
  #app {
    padding: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}
@media screen and (max-width: 576px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}

@keyframes text-show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -400%);
  }
}

@keyframes scroll-to-top {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -2%);
  }

  100% {
    transform: translate(0, 0);
  }
}

#app {
  position: relative;
  padding: 0 10%;
  background-image: linear-gradient(#d1d7c7, #d4d4d4, #c8a9a9);
  .scroll-to-top {
    background-image: url('../../images/index/scroll.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    width: 70px;
    display: block;
    position: fixed;
    right: 80px;
    top: -10000px;
    z-index: 2;
    animation: scroll-to-top linear 2s infinite;
    transition: top 1s;
    cursor: url('../../images/index/pointer.cur'), pointer;
    &.show {
      top: -250px;
    }
  }
  .app-row {
    height: 100%;
    .app-right {
      height: 100%;
      overflow-y: scroll;
      position: relative;
      box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.05);
      .content-right {
        background-color: #f9f9f9;
        .title-btn {
          width: 100%;
          color: #58666e;
          background-color: #fff;
          border-color: #dee5e7;
          border-bottom-color: #d8e1e3;
          box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
          text-align: center;
          font-size: 15px;
          padding: 5px 0;
          transition: background-color 0.5s;
          &:hover {
            background-color: #ececec;
          }
        }
        .content-right-tabs {
          .ant-tabs-nav-list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .ant-tabs-tab {
              margin: 0;
            }
            .ant-tabs-ink-bar-animated {
              background-color: #000;
            }
            .ant-tabs-tab-btn[aria-selected='true'],
            .ant-tabs-tab-btn:hover,
            i:hover {
              cursor: @cursorPointer;
              color: #000;
            }
          }
          .ant-tabs-tabpane {
            padding: 10px 20px;
          }
          ul {
            padding: 0 0 10px 0;
            border-bottom: 1px solid #e5e5e5;
            .hot-article {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 10px 0;
              .hot-article-right {
                margin-left: 10px;
                a {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  overflow: hidden;
                  margin-bottom: 2px;
                  color: #58666e;
                  font-size: 13px;
                  font-weight: 400;
                }
                .hot-article-comments {
                  i,
                  span {
                    color: #58666e;
                    font-size: 12px;
                  }
                }
              }
            }
            .new-comment {
              display: flex;
              align-items: center;
              margin: 10px 0;
              .new-comment-right {
                margin-left: 10px;
                .username {
                  color: #58666e;
                  font-size: 14px;
                }
                .details {
                  color: #98a6ad;
                  font-weight: 300;
                  font-size: 14px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  overflow: hidden;
                }
              }
            }
          }
        }
        .blog-info {
          padding: 0 20px;
          ul {
            li,
            li > div {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 10px 0;
              i,
              h6 {
                color: #58666e;
                font-size: 14px;
                margin: 0;
                font-weight: 400;
              }
              h6 {
                margin-left: 5px;
              }
              span {
                display: inline-block;
                background-color: #7d808e;
                border-radius: 4px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
                color: #fff;
                text-align: center;
                padding: 3px 7px;
                font-size: 12px;
              }
            }
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
