@import '../base.less';
@media screen and (min-width: 1200px) {
  #app {
  }
}
@media screen and (min-width: 992px) and(max-width: 1200px) {
  #app {
    padding: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}
@media screen and (max-width: 576px) {
  #app {
    padding: 0 !important;
    .scroll-to-top {
      display: none !important;
    }
  }
}

#app {
  position: relative;
  padding: 0 10%;
  background-image: linear-gradient(#d1d7c7, #d4d4d4, #c8a9a9);

  .app-row {
    height: 100%;
    .app-right {
      height: 100%;
      overflow-y: scroll;
      position: relative;
      box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.05);
      .content-right {
        background-color: #f9f9f9;
        .title-btn {
          width: 100%;
          color: #58666e;
          background-color: #fff;
          border-color: #dee5e7;
          border-bottom-color: #d8e1e3;
          box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
          text-align: center;
          font-size: 15px;
          padding: 5px 0;
          transition: background-color 0.5s;
          &:hover {
            background-color: #ececec;
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
