@import '../base.less';

.article-details {
  .title-container {
    background-color: #fff;
    padding: 15px;
    h1 {
      font-size: 27px;
      font-weight: 400;
      color: #1f222d;
    }
    .info-container {
      i,
      span {
        display: inline-block;
        color: #98a6ad;
        font-size: 13px;
      }
      i {
        margin-right: 3px;
      }
      span {
        margin-right: 6px;
      }
    }
    .tags {
      color: #98a6ad;
      font-size: 13px;
    }
  }
  main {
    padding: 15px;
    background-color: #f1f3f4;
    .crumbs {
      background-color: #fff;
      padding: 8px 15px;
      border-radius: 4px;
      span,
      i,
      a {
        margin: 2px;
        color: #777;
      }
    }
    .article-container {
      width: 100%;
      border-radius: 6px;
      margin-top: 15px;
      padding: 15px 30px;
      background-color: #fff;

      img.banner {
        width: 100%;
        border-radius: 6px;
      }
      .markdown-container {
        h2 {
          width: 100%;
          margin: 20px 0;
          border-bottom: 1px solid #d7d7d7;
          padding-bottom: 10px;
          position: relative;
          color: #5873a8;
          font-weight: 400;
          &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: inline-block;
            height: 3px;
            width: 4%;
            content: '   ';
            background: linear-gradient(#86a2d9 30%, #3c67bd 70%);
            box-shadow: 0 3px 3px rgba(60, 103, 189, 0.4);
            transition: all 0.35s;
          }
        }
        p {
          line-height: 30px;
          word-break: break-all;
          color: #58666e;
          font-weight: 300;
        }
      }
    }
    .comment-editer {
      color: #58666e;
      h4 {
        margin: 30px 0 15px 0;
        font-size: 18px;
      }
      .comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        label {
          margin-bottom: 5px;
          font-size: 14px;
          color: #58666e;
        }
        textarea {
          resize: none;
          height: auto;
          border-color: rgba(135, 150, 165, 0.15);
          border-width: 1px;
          outline: none;
          width: 100%;
          padding: 6px 12px;
          border-radius: 6px;
          margin-bottom: 20px;
        }
        input {
          width: 100%;
          padding: 6px 12px;
          border-radius: 6px;
          outline: none;
          border-color: rgba(135, 150, 165, 0.15);
          border-width: 1px;
          margin-bottom: 20px;
        }
        button {
          outline: none;
          background-color: #3a3f51;
          border: 0;
          color: #fff;
          border-radius: 4px;
          padding: 5px 30px;
          font-size: 13px;
          font-weight: 300;
          transition: background-color 0.5s;
          cursor: @cursorPointer;
          &:hover {
            background-color: #1c1f26;
            color: #d9d9d9;
          }
        }
      }
    }
    .comment-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 30px;
      h5 {
        font-size: 18px;
        color: #58666e;
      }
      .commnet-item {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
        &:hover {
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        }
        .comment-info {
          display: flex;
          align-items: center;
          .comment-info-left {
            width: 40px;
            height: 40px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .comment-info-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 10px;
            h6 {
              color: #58666e;
              font-size: 14px;
              margin: 0;
            }
            span {
              color: #98a6ad;
              font-size: 12px;
              margin: 0;
            }
          }
        }
        .comment-detail {
          font-size: 14px;
          color: #58666e;
          margin-top: 20px;
          padding-left: 10px;
        }
      }
      .my-pagination {
        align-self: center;
        margin: 50px 0 20px 0;
      }
    }
  }
}
