@import '../base.less';

main {
  position: relative;
  background-color: #f1f3f4;
  padding-bottom: 10vw;
  .title {
    padding: 10px 20px;
    background-color: #f9f9f9;
    h1 {
      font-size: 40px;
      font-weight: 300;
      margin: 0;
    }
    small {
      display: inline-block;
      padding-right: 20px;
      width: 100%;
      text-align: right;
      color: #656f72;
      font-size: 25px;
      font-family: signature-font, sans-serif !important;
    }
  }
  .article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}
