@media screen and (min-width: 1200px) {
  .index {
  }
}
@media screen and (min-width: 992px) and(max-width: 1200px) {
  .index {
    padding: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .index {
    .scroll-to-top {
      display: none !important;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .index {
    padding: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .index {
    padding: 0 !important;
  }
}

@keyframes text-show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

.index {
  position: relative;
  padding: 0 10%;
  background-image: linear-gradient(#777c87, #96959a, #c8a9a9);
  .scroll-to-top {
    background-image: url('../../images/index/scroll.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    width: 70px;
    display: block;
    position: fixed;
    right: 50px;
    top: -200px;
    z-index: 2;
  }
  .index-row {
    height: 100%;
    .index-right {
      height: 100%;
      overflow-y: scroll;
    }
  }
}
